<p id="notice"><%= notice %></p>

<p>
  <strong>Visit date:</strong>
  <%= @pet_appoinment.visit_date %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @pet_appoinment.pet %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @pet_appoinment.customer %>
</p>

<p>
  <strong>Reminder required:</strong>
  <%= @pet_appoinment.reminder_required %>
</p>

<p>
  <strong>Reason to visit:</strong>
  <%= @pet_appoinment.reason_to_visit %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @pet_appoinment.vat_doctor_id %>
</p>

<%= link_to 'Edit', edit_pet_appoinment_path(@pet_appoinment) %> |
<%= link_to 'Back', pet_appoinments_path %>
